@*@model dynamic

@{
    Layout = null;
}
*@
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Scrum Board</title>
        <link href="/Content/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
        <style>
            body
            {
                padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
            }
        </style>
        <link href="/Content/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
        <link href="/Content/css/scrumBoard.css" rel="stylesheet" type="text/css" />
    @*    <link href="/Scripts/External/mCustomScrollbar/css/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css" />*@
    </head>
    <body data-ng-app="ScrumBoardApp">
    
        <div  data-ng-controller="ListController"
              class="container-fluid" data-ng-mousemove="boardMouseMove($event)">
            <button class="btn" data-ng-click="isDebugCollapsed = !isDebugCollapsed">
                SHOW DEBUG</button>
            <div collapse="isDebugCollapsed">
                <div class="well well-large">
                    <pre>
                        $scope.isCreateListCollapsed = {{isCreateListCollapsed}}    
                        $scope.isDebugCollapsed = {{isDebugCollapsed}}    
                    </pre>
                
                    <input type="button" id="scrollButt"/>

                </div>
            </div>
            <button class="btn" ng-click="isCreateListModalCollapsed = !isCreateListModalCollapsed">
                Show Toolbar</button>
            <div id="listCreateDiv" collapse="isCreateListModalCollapsed">
                <div class="well well-large ">
                    <div data-ng-controller="SkilzJs.controller.CreateListDialogController">
                        <p>{{dialogDone}}</p>
                        <div class="row-fluid">
                            <button id="addNewListBtn" class="btn btn-primary" data-ng-click="openDialog()">
                                Add New List</button>
                        </div>
                    </div>
                            <button id="addNewCard" class="btn btn-primary" data-ng-click="addCard()">
                                Add New Card</button>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="span2">
                    Another Div!
                </div>
                <div id="outerScrumBoard" class="span1" style="position: relative;">

                    <ul class="unstyled">
                        <li data-ng-repeat="list in board.lists" class="listIterator">
                            <div class="listItemScroll" >
                                <div class="listItem" >
                                    <span class="wrapword listTitle">{{list.title}} </span>
                                    <ul class="unstyled">
                                        <li data-ng-repeat="card in list.cards">
                                            <scrumcarditem>
                                                Card #{{card.id}}
                                            </scrumcarditem>
                                        </li>
                                    </ul>
                                    <scrumcarditemtrailer/>
                                </div>
                            </div>
                            <div >
                                <addscrumcarditem>
                                    Add a card...
                                </addscrumcarditem>
                            </div>
                        </li>
                    </ul>
                </div>                
            </div>                
        </div>                
    
        <script src="/Scripts/External/jquery-1.9.1.js" type="text/javascript"></script>
        <script src="/Scripts/External/jquery-ui-1.10.2.js" type="text/javascript"></script>
        @*        <script src="/Scripts/External/mCustomScrollbar/jquery.mCustomScrollbar.js" type="text/javascript"></script>
            <script src="/Scripts/External/mCustomScrollbar/jquery.mousewheel.js" type="text/javascript"></script>*@
@*        <script src="/Scripts/External/Bootstrap/3rdParty/jquery.slimscroll.js" type="text/javascript"></script>
*@        @*    <script src="/Scripts/External/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"
        type="text/javascript"></script>*@
        <script src="/Scripts/External/underscore.js" type="text/javascript"></script>
        <script src="/Scripts/External/Angular/angular.js" type="text/javascript"></script>
        <script src="/Scripts/External/Bootstrap/bootstrap.js" type="text/javascript"></script>
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script type="text/javascript" src="/Scripts/External/Shims/html5shiv.js"></script>
        <![endif]-->
        <script src="/Scripts/External/Angular-Bootstrap/ui-bootstrap-tpls-0.2.0.js" type="text/javascript"></script>
        <script src="/Scripts/External/SignalR/jquery.signalR-1.0.1.js"></script>
        <!--Reference the autogenerated SignalR hub script. -->
        <script src="/signalr/hubs"></script>
        <script src="/Scripts/Shared/global.js" type="text/javascript"></script>
        <script src="/Scripts/models.js" type="text/javascript"></script>
        <script src="/Scripts/scrumBoardApp.js" type="text/javascript"></script>
        <script src="/Scripts/scrumBoardFactories.js" type="text/javascript"></script>
        <script src="/Scripts/scrumBoardDirectives.js" type="text/javascript"></script>
        <script src="/Scripts/shared/dialogs/SimpleEnterStringDialogController.js" type="text/javascript"></script>
        <script src="/Scripts/Sockets/socketController.js" type="text/javascript"></script>
        <script src="/Scripts/listController.js" type="text/javascript"></script>
        <script src="/Scripts/CreateListDialogController.js" type="text/javascript"></script>
        <script src="/Scripts/CreateCardDialogController.js" type="text/javascript"></script>
    </body>
</html>
