.listItem
{
	border: 1px solid #000000;
	padding: 10px;
	float: left;
	height: 500px;
	margin: 0px;
}

ul 
{
	list-style-type: none;	
}

.scrumCard
{
	border: 1px solid #000000;
	padding: 5px;
	background-color: #FFFFCC;
	height: 50px;
	margin: 2px;
}